# Virtual environments
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Local development (keep phpcs.xml in repo)
phpunit.xml
.phpcs.xml
.phpunit.xml
composer.lock

# Build artifacts
node_modules/
vendor/
*.log

# Temporary files
*.tmp
*.bak
*.swp

# Local testing
audit.md
tests/

#wordpress.org svn password file
svn_Ld1MS6a36GWwD7MyHj9wFuUzkLxqxLDH38804683



#workspace security code
26070959,37124681,94926548,16869078,89636125,32411108,67822320,80917657,45060854,97260879

